# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
.env/
.envrc

# Streamlit
.streamlit/secrets.toml

# Google OAuth (VERY IMPORTANT)
client_secret.json
credentials.json
token.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Data files (optional if private)
*.csv
